body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
}
/*comment*/
header{
	background-color: #d6ccc2;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1, h2{
	font-family: 'Syne', sans-serif;
}
header h1{
	color: white;
	font-size: 50px;

}

header img{
	border-radius: 300px;
	width: 250px;
	border: 25px solid #d5bdaf;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	

	

}
main img{
	text-align: center;
	
	
}


h2{
	font-size: 30px;
	margin: 40px 0px 10px;
}

a{
	color: #003566;	
}

a:hover{
	color: #d5bdaf;
}


footer{
	background-color: #d6ccc2;
	text-align: center;
	padding: 50px;
}
footer p{
	margin: 0;
}


p.caption{
	color: lightgray;
	font-style: italic;
	margin-top: 0px;
}


